@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,300&display=swap');

@layer base{
    html,body{
        font-family:'Open Sans',sans-serif;
        @apply antialiased
    }
}

.flag-select button{
    
    height: 56px;
    width: 109px;
    border:2px solid #dfdee2;
    transition: border 0.4s ease 0s;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    
}
.flag-select button:focus{
    border:2px solid #5d3ebc;
    transition: border 0.4s ease 0s;

}
.ReactFlagsSelect-module_flagsSelect__2pfa2{
    padding-bottom: 0px !important;
}
.input:hover{
   border-color:#5d3ebc; 
   transition: border 0.4s ease 0s;
}
.input{
    border-color:#dfdee2; 
    transition: border 0.4s ease 0s;
 }
 .input:focus-visible{
  
    border-color: #5d3ebc !important;
    transition: border 0.4s ease 0s;
 }
 .input:focus{
    border-color: #5d3ebc !important;
    transition: border 0.4s ease 0s;
 }

 .slick-arrow svg {
     color :#5d3ebc!important

 }

 .slick-prev:before , .slick-next::before{
    content: none! important;
}
.footer-shadow{
    box-shadow: 0px 1px 6px#69748826;
}

.ReactFlagsSelect-module_label__27pw9{
    font-size: 14px!important;
  
}
.ReactFlagsSelect-module_selectFlag__2q5gC{
    font-size: 16px !important;
    
}
.ReactFlagsSelect-module_selectValue__152eS{
    padding: 0px !important;
}
.flag-select button{
    padding: 0px 14px !important;
}

.shadow-banner{
    box-shadow: rgb(93 62 188 / 4%) 0px 6px 24px
}
.category-shadow{
    box-shadow: rgb(88 63 181 / 8%) 0px 2px 16px;
}